prism-lines.css
pre.line-numbers {
  padding-left: 3.8em;
  position: relative;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
  white-space: pre-wrap;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: 0;
  width: 3em;
  letter-spacing: -1px;
  border-right: 1px solid #999;
  user-select: none;
  padding: 0;
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
  padding-left: 0.5em;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  display: block;
  color: #999;
}
